In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Define connection details
user = 'admin'
password = 'Sunday12345!'
host = 'svc-f4f9acbe-4071-4887-bec1-7685aef5c9a4-dml.aws-oregon-3.svc.singlestore.com'
port = 3306
database = 'adtech'

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Define the SQL query
query_campaigns = "SELECT * FROM campaigns"

# Use pandas to read SQL query into DataFrame
data_campaigns = pd.read_sql(query_campaigns, engine)

# Check the first few rows of the data
data_campaigns.head()

   campaign_id        campaign_name
0            1         demand great
1            2             blackout
2            3        flame broiled
3            4  take it from a fish
4            5            thank you

In [4]:
# Save the DataFrame to a CSV file
data_campaigns.to_csv('campaigns_data.csv', index=False)

print("Data saved to campaigns.csv")

Data saved to campaigns.csv