In [1]:
import mysql.connector
from mysql.connector import Error

import pandas as pd

import csv

In [2]:
# Define your connection parameters
host = 'svc-f4f9acbe-4071-4887-bec1-7685aef5c9a4-dml.aws-oregon-3.svc.singlestore.com'
user = 'admin'
password = 'Sunday12345!'
database = 'adtech'
port = 3306

In [3]:
def connect_to_db():
    """Establish connection to the database and return the connection object."""
    try:
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database,
            port=port
        )
        if connection.is_connected():
            print("Connection to SingleStore was successful.")
        return connection
    except Error as e:
        print(f"Error while connecting to SingleStore: {e}")
        return None

In [4]:
def execute_query(connection, query):
    """Execute a SQL query and return the fetched results and column names."""
    cursor = connection.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    columns = [i[0] for i in cursor.description]
    cursor.close()
    return results, columns

In [5]:
def save_to_csv(filename, columns, data):
    """Save the query results to a CSV file."""
    with open(filename, mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(columns)
        writer.writerows(data)
    print(f"Data has been successfully saved to '{filename}'.")

In [6]:
def close_connection(connection):
    """Close the database connection."""
    if connection.is_connected():
        connection.close()
        print("Connection closed.")

In [7]:
def fetch_and_save_table_data(table_name):
    """Fetch data from the specified table and save it to a CSV."""
    connection = connect_to_db()
    if connection:
        query = f"SELECT * FROM {table_name}"
        results, columns = execute_query(connection, query)
        save_to_csv(f'{table_name}_data.csv', columns, results)
        close_connection(connection)

In [8]:
# Fetch and save data from both tables
fetch_and_save_table_data('campaigns')
fetch_and_save_table_data('events')

Connection to SingleStore was successful.
Data has been successfully saved to 'campaigns_data.csv'.
Connection closed.
Connection to SingleStore was successful.
Data has been successfully saved to 'events_data.csv'.
Connection closed.

In [9]:
data_campaigns = pd.read_csv('campaigns_data.csv')
data_events = pd.read_csv('events_data.csv')

In [10]:
data_campaigns.head()

   campaign_id        campaign_name
0            1         demand great
1            2             blackout
2            3        flame broiled
3            4  take it from a fish
4            5            thank you

In [11]:
data_events.head()

,user_id,event_name,advertiser,campaign,gender,income,page_url,region,country
0,1024542728,Downstream Conversion,Costco,5,Male,unknown,/2016/03/18-best-paper-plant-tutorials.html/10/,Washington,US
1,1024542728,Impression,Costco,5,Male,unknown,/2016/03/18-best-paper-plant-tutorials.html/10/,Washington,US
2,1024542728,Impression,Costco,6,Male,unknown,/,Washington,US
3,1024542728,Impression,Costco,9,Male,unknown,/2010/11/let-me-make-you-some-giant-paper-flow...,Washington,US
4,1024542728,Impression,Costco,9,Male,unknown,/2016/05/diy-frida-kahlo-head-vase.html/#more-...,Washington,US