In [1]:
import psycopg2

In [2]:
# Define your database connection parameters
connection = psycopg2.connect(
    host="localhost",        
    port="5432",             
    database="ad-tech", 
    user="anastasiiatrofymova",    
)

In [3]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

# Example query to check the connection
cursor.execute("SELECT version();")
db_version = cursor.fetchone()
print(f"Connected to PostgreSQL database. Version: {db_version}")

Connected to PostgreSQL database. Version: ('PostgreSQL 16.4 (Postgres.app) on aarch64-apple-darwin21.6.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.102), 64-bit',)

In [4]:
def execute_and_print_query(cursor, sql_query):
    # Execute the query
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Print the results
    if results:
        print(f"📊 Query executed successfully! Here are the results:\n")
        
        # Print each row
        for row in results:
            print('\t'.join(str(value) for value in row))  # Using tab ('\t') for separation
    else:
        print("⚠️ No results found matching the criteria.")

In [5]:
# Define your SQL query
sql_query = """
SELECT count(*)
  FROM impressions 
 WHERE is_click=1;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

10862

In [6]:
# Define your SQL query
sql_query = """
SELECT DISTINCT os_version
  FROM impressions;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

intermediate
latest
old

In [7]:
# Define your SQL query
sql_query = """
SELECT is_4G, os_version, sum(is_click) as countClick
  FROM impressions
GROUP BY is_4G, os_version
HAVING is_4G=0;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

0	intermediate	1923
0	latest	3201
0	old	1896

In [8]:
# Define your SQL query
sql_query = """
SELECT app_code, sum(is_click) as countClick
  FROM impressions
GROUP BY app_code
HAVING app_code>500
ORDER BY sum(is_click) DESC;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

508	132
504	47
509	27
512	23
507	14
522	6
503	5
505	4
514	4
513	3
521	2
519	1
520	1
517	1
518	0
502	0
506	0
510	0
515	0
516	0

In [9]:
# Define your SQL query
sql_query = """
SELECT user_id, sum(is_click) as countClick
  FROM impressions
GROUP BY user_id
HAVING sum(is_click)=10;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

3364	10
52737	10
64389	10
37747	10
90953	10

In [10]:
# Define your SQL query
sql_query = """
SELECT *
FROM viewlog
WHERE device_type='android' AND item_id>132861;
"""

execute_and_print_query(cursor, sql_query)

📊 Query executed successfully! Here are the results:

2018-10-18 20:05:00	android	692656	131	132865
2018-10-19 11:04:00	android	737021	91566	132865
2018-10-23 20:48:00	android	979717	86898	132865
2018-10-26 01:48:00	android	103223	5822	132863
2018-11-05 14:01:00	android	1044634	79451	132863
2018-11-17 16:15:00	android	699238	111	132864
2018-10-19 04:17:00	android	393715	72077	132863
2018-10-19 04:17:00	android	393715	72077	132863
2018-10-19 04:18:00	android	393715	72077	132863
2018-10-19 04:18:00	android	393715	72077	132863
2018-10-19 09:20:00	android	765138	17953	132863
2018-10-20 21:53:00	android	182390	10613	132865
2018-10-23 20:11:00	android	979717	86898	132865
2018-10-16 00:00:00	android	441771	77712	132863
2018-10-16 00:01:00	android	441771	77712	132863
2018-10-26 11:49:00	android	98175	82021	132863
2018-10-26 11:51:00	android	98175	82021	132863
2018-10-26 11:52:00	android	98175	82021	132863
2018-10-28 21:28:00	android	366483	39439	132863
2018-12-10 18:20:00	android	1026181	10947	132862

In [11]:
# Close the cursor and the connection
cursor.close()
connection.close()

print("🔒 Connection to the database has been closed.")

🔒 Connection to the database has been closed.