In [1]:
from sqlalchemy import create_engine, text

In [2]:
# Define your database connection URL
DATABASE_URL = "postgresql+psycopg2://anastasiiatrofymova@localhost:5432/ad-tech"

# Create a SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [3]:
def execute_sql_query(engine, sql_query):
    # Connect to the database and execute the query
    with engine.connect() as connection:
        result = connection.execute(text(sql_query))

        # Fetch all results
        results = result.fetchall()

        if results:
            print(f"📊 Query executed successfully! Here are the results:\n")

            # Print the results row by row
            for row in results:
                print('\t'.join(str(value) for value in row))  # Using tab ('\t') for separation
        else:
            print("⚠️ No results found matching the criteria.")

In [4]:
# Define your SQL query. Count clicks in the impressions table.
sql_query = """
SELECT count(*)
  FROM impressions 
 WHERE is_click=1;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

10862

In [5]:
# Define your SQL query. Get distinct OS versions.
sql_query = """
SELECT DISTINCT os_version
  FROM impressions;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

intermediate
latest
old

In [6]:
# Define your SQL query. Sum clicks for 4G-disabled devices by OS version.
sql_query = """
SELECT is_4G, os_version, sum(is_click) as countClick
  FROM impressions
GROUP BY is_4G, os_version
HAVING is_4G=0;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

0	intermediate	1923
0	latest	3201
0	old	1896

In [7]:
# Define your SQL query. Sum clicks for apps with app_code > 500.
sql_query = """
SELECT app_code, sum(is_click) as countClick
  FROM impressions
GROUP BY app_code
HAVING app_code>500
ORDER BY sum(is_click) DESC;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

508	132
504	47
509	27
512	23
507	14
522	6
503	5
505	4
514	4
513	3
521	2
519	1
520	1
517	1
518	0
502	0
506	0
510	0
515	0
516	0

In [8]:
# Define your SQL query. Find users with exactly 10 clicks.
sql_query = """
SELECT user_id, sum(is_click) as countClick
  FROM impressions
GROUP BY user_id
HAVING sum(is_click)=10;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

3364	10
52737	10
64389	10
37747	10
90953	10

In [9]:
# Define your SQL query. Filter view logs for Android devices and items with item_id > 132861.
sql_query = """
SELECT *
FROM viewlog
WHERE device_type='android' AND item_id>132861;
"""

execute_sql_query(engine, sql_query)

📊 Query executed successfully! Here are the results:

2018-10-16 00:00:00	android	441771	77712	132863
2018-10-16 00:01:00	android	441771	77712	132863
2018-10-19 04:17:00	android	393715	72077	132863
2018-10-19 04:17:00	android	393715	72077	132863
2018-10-19 04:18:00	android	393715	72077	132863
2018-10-19 04:18:00	android	393715	72077	132863
2018-10-19 09:20:00	android	765138	17953	132863
2018-10-23 20:11:00	android	979717	86898	132865
2018-11-05 14:01:00	android	1044634	79451	132863
2018-11-17 16:15:00	android	699238	111	132864
2018-10-20 21:53:00	android	182390	10613	132865
2018-10-23 20:48:00	android	979717	86898	132865
2018-10-18 20:05:00	android	692656	131	132865
2018-10-19 11:04:00	android	737021	91566	132865
2018-10-26 01:48:00	android	103223	5822	132863
2018-10-26 11:49:00	android	98175	82021	132863
2018-10-26 11:51:00	android	98175	82021	132863
2018-10-26 11:52:00	android	98175	82021	132863
2018-10-28 21:28:00	android	366483	39439	132863
2018-12-10 18:20:00	android	1026181	10947	132862